<launch>
  <!-- Hokuyo LIDAR Node -->
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <param name="serial_port" value="/dev/ttyACM0"/>
        <param name="serial_baud" value="115200"/>
        <param name="frame_id" value="laser"/>
        <param name="calibrate_time" value="true"/>
        <!-- Other parameters -->
    </node>


  <!-- Static Transform for LIDAR -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_to_base_link"
        args="0.1 0 0.2 0 0 0 base_link laser" />
  <!-- args are x y z yaw pitch roll parent_frame child_frame -->
</launch>
